<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="satyam" title="satyam kumar Maddeshia" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Satyam kumar World</p>
                        <h1>I am a <span class="txt_clr">Web Developer</span>, and Btech 2023 Passout</h1>
                        <a href="http://www.linkedin.com/in/satyamkumar8874/" target="satyam"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with 💓 by Satyam Kumar Maddeshia
        </p>
    </footer>
</body>

</html>